<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkuBLgEM9S94_u-yj7MU4ep8nl0Yayfqk</string>
	<key>GCM_SENDER_ID</key>
	<string>968908516551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whiskr</string>
	<key>PROJECT_ID</key>
	<string>whiskr-7a530</string>
	<key>STORAGE_BUCKET</key>
	<string>whiskr-7a530.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968908516551:ios:fac3cd5d84216133f562e2</string>
</dict>
</plist>